@charset "UTF-8";


a#pagin {
	color: black;
	text-decoration: none;
}

nav#menuPaginacao{
	display: block;
}

nav#menuPaginacao ul {
	list-style: none;
	height: 20px;
	text-align: center;
}

nav#menuPaginacao li {
	box-shadow: 1px 1px 3px blue;
	display: inline-block;
	background-color: rgba(96, 96, 96, 0.2);
	padding: 6px;
	transition: background-color 0.5s;
}

nav#menuPaginacao li:hover {
	background-color: rgba(0,0,255,0.5);
}
