@charset "UTF-8";


section {
	width: 550px;
	margin: auto;
}

legend {
	color: #606060;
	font-weight: bold;
	font-size: 15pt;
}

p#enviar {
	margin-left: 150px;
}
input#e {
	width:150px;
	background-color: #888888;
	padding: 5px 0px 5px 10px;
}