@charset "UTF-8";


section {
	width: 600px;
	margin: auto;
}

legend {
	color: black;
	font-weight: bold;
	font-size: 15pt;
}

article#simuladosAbertos legend {
	background-color: #5cf761;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

article#simuladosAnteriores  legend{
	background-color: #999999;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}


