@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Liu+Jian+Mao+Cao&display=swap');

/*================================================================/*/

body{
	background-image: url("../Aco_Escovado.jpg");
}

/*================================================================/*/

div#interface{
	width: 1000px;
	background-color: white;
	margin: -20px auto 10px auto;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	padding: 10px 15px 10px 15px;
	
}

/*================================================================/*/
header#cabecalho{
	border-bottom: 2px #606060 solid; /*linha*/
	height: 140px;
}

header#cabecalho h1{
	/*margin-left: 30px; /* espaco da ateral esquerda do cabecalho */
	font-family: 'Dancing Script', cursive;
	font-size: 30pt;
	color: black;
}

header#cabecalho h2{
	/*margin-left: 50px; /* espaco da ateral esquerda do cabecalho */
	font-family: 'Liu Jian Mao Cao', cursive;
	font-size: 15pt;
	color: #363434;
	padding: 0px;
	margin-top: 0px;
}
/*================================================================/*/

section {
	width: 950px;
	margin: auto;
}

p {
	text-align: justify;
	text-indent: 50px;
}



a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
} 

a#facebook:hover {
	color: blue;
}

a#instagram:hover { 
	color: #fa0060;
}

/*================================================================/*/



footer#rodape {
	clear: both;
	border-top: 2px solid #606060;
}

footer#rodape p{
	text-align: center;
}

/*================================================================/*/


			/* Formatacao do menu */

nav#menu{
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 700px;
	
}

nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
}



